<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <title>Bloodify</title>
</head>

<body>
  <nav class=" navbar-expand-lg navbar">
    <div class="container-fluid">
      <a class="navbar-brand logo" href="#">
        <img class="logoD" src="logo.png" alt="">
        <h1 class="title">BLOODIFY</h1>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">ABOUT</a>
          <% if(currentUser && currentUser.isAdmin) { %>
            <a class="nav-link" href="/confirmDonor">VERIFY DONOR</a>
            <a class="nav-link" href="/confirmRequest">VERIFY REQUEST</a>
            <a class="nav-link" href="/ourDonors">OUR DONORS</a>
            <a class="nav-link" href="/confirmedRequests">BLOOD RECIPIENTS</a>
          <% }else{ %>
            <a class="nav-link" href="/donate">DONATE</a>
            <a class="nav-link" href="/request">REQUEST</a>
            <a class="nav-link" href="https://www.redcrossblood.org/give.html/drive-results?zipSponsor=20006">JOIN A DRIVE</a>
          <% } %>
          

        </div>

        <div class="navbar-nav LS">
        
          <% if(currentUser) {%>
            <% if(currentUser.isAdmin){ %>
              <a class="nav-link signupDesign">ADMIN</a>
            <% } else {%>
              <a class="nav-link signupDesign">USER</a>
              <% } %>
          <a class="nav-link signupDesign" href="/logout">LOGOUT</a>
          <% }else{ %>
           
            <a class="nav-link" href="/login">LOGIN</a>
            <a class="nav-link signupDesign" href="/signup">SIGN UP</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>