<%- include("./partials/header") %>
<div class="row start1" style="margin :0px">
    <div class="column" >
          <img class=" div2I" src="donor11.jpg" alt="" >
    </div>
    <div class="column addresstext" >
        <h1>Your id is:<%= id%>
 
        </h1>
        <hr>
        <h2>Current Blood Camp</h2>
        <p> Donate Blood and save a life :)</p>
              
              
    </div>
  </div>
<%- include("./partials/footer") %>