<%- include("./partials/header") %>

<% if(message != '') {%>
<div class="alert alert-danger myalert" role="alert">
  <%= message %>
</div>
<% } %>

<div class="verifyRequest">
    <div class="form">
        <form action="/confirmRequest" method="POST">
            <h4>Enter the Unique id of Requester</h4>
            <br>
            <input type="text" name="userId" placeholder=" Request id">
            <button>Submit</button>
        </form>
    </div>
</div>

<%- include("./partials/footer") %>