<%- include("./partials/header") %>


  <div class="login1">
    <div class="login-page" action="/login" method="POST">
      <div class="form">

        <form class="login-form" action="/login" method="POST">
          <input type="text" name="username" placeholder="username"/>
          <input type="password" name="password" placeholder="password"/>
          <button>login</button>
          <p class="message">Not registered? <a href="/signup">Create an account</a></p>
        </form>
      </div>
    </div>

    <div class = "bottom">
      .
    </div>

  </div>
  
  
<%- include("./partials/footer") %>
